@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgba(4, 33, 4, 0.867);
    color: white;
    font-family: Instrument Serif;
}

.hero-main-container{
    background: url(/imgs/imagen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
    clip-path: ellipse(50% 50% at 50% 50%);
}


.hero-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
  }

h1{
    text-align: center;
    font-size: 6.5rem;
}

span{
    font-size: 2.5rem;
}

h2{
    text-align: center;
    font-size: 4.5rem;
}


.form-container{
    width: 40%;
    height: 70%;
    margin: 0 auto;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
}

.form{
    margin: 0 auto;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
    
}

.form input{
   
    border: solid 1px white;
    background-color: grey;
    color: white;
    border-radius: 5px;
    height: 5vh;
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    
}


.form label{
    text-align: center;
}

.form textarea{
    border: solid 1px white;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

#btn{
    background-color: green;
    width: 5rem;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    
}

li{
    color: red;
}
