@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(4, 33, 4, 0.867);
    color: white;
}

.hero-main-container{
    background: url(/imgs/imagen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
}


.hero-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:black;
    position: relative;
}

h1{
    text-align: center;
}

.form-container{
    width: 30%;
    height: 70%;
    margin: 0 auto;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.form{
    margin: 0 auto;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
    
}

.form input{
   
    border: solid 1px white;
    background-color: grey;
    color: white;
    border-radius: 5px;
    height: 5vh;
    width: 40vh;
    padding: 15px;
    margin-bottom: 5px;
    
}


.form label{
    text-align: center;
}

.form textarea{
    border: solid 1px white;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

button{
    background-color: green;
}

li{
    color: red;
}
